@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #001842;
  --primary: #7eaeff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #001842;
    --primary: #7eaeff
  }
}

html {
  scroll-behavior: smooth;
}

 html, body {
    font-family: var(--font-montserrat), system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

