@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000919;
  --primary: #3076ef;
  --text: #e5e7eb;   
  --card : rgb(255, 255, 255) ; 
 
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-text: var(--text);
    --color-card: var(--card);

}



/* Dark mode */
.dark {
  --background: #001842;   /* dark background */
  --foreground: #ffffff;   /* UI elements / surfaces */
    --text : #1a1a1a; 
   --primary: #7eaeff;
    --card : #c3c3c3 ; 
    color-scheme: dark; 
}

html {
  scroll-behavior: smooth;
}

 html, body {
    font-family: var(--font-montserrat), system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

